<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.thirtys.mappers.fileMapper">
	<insert id="addFile">
		INSERT INTO tbl_file(fullname, bno)
		VALUES (#{fullname}, last_insert_id())
	</insert>
	
	<select id="listFiles" resultType="string">
		SELECT fullname
		FROM tbl_file
		WHERE bno = #{bno}
		ORDER BY regdate
	</select>
	
	<delete id="deleteFiles">
		DELETE FROM tbl_file
		WHERE bno = #{bno}
	</delete>	
</mapper>