@charset "UTF-8";


/* 레이아웃 */
#wrap {}
#header {height: 40px; border-bottom: 1px solid #e6e6e6;}
#nav { height: 90px; border-bottom: 1px solid #000000;}
#board {max-width: 1200px; margin: 0 auto; padding-bottom: 50px; }
#middle {float: left; width: 700px; height: 1000px; line-height: 1000px; background: #4caf50;}
#footer {float: left; width: 1000px; height: 100px; line-geight: 600px; background: #66bb6a;}

/* 컨테이너 */
.container {width: 1200px; margin: 0 auto; height: inherit;}

/* 헤더 */
.header .header-menu {top: 10px; right: 40px; text-align: right; font-size: 13px; padding-top:10px;}
.header .header-menu a {display: inline-block; padding: 0px 12px 0px 11px; font-weight: 600; border-right: 1px solid #ddd; }

/* 메뉴 */
.logo {position: absolute; font-size: 50px; line-height: 90px; }
.nav-total {display: inline-block; top: 41px; right: 0; width: 70%; margin-left: 527px;}
.nav {overflow: hidden;}
.nav ul li{ width: 20%; float:left; }
.nav ul li a {display: block; width: 100%; height: 90px; line-height: 90px; font-weight: 800; font-size: 20px; color: #333; border-right: 1px solid #e6e6e6;
			  text-align: center;}
.nav ul li a:hover {color: #3d449c;}			  
.nav ul li:first-child a {border-left: 1px solid #e6e6e6; }
/* 서브 메뉴 */
.nav-total .nav-sub {top: 92px; right: 0; width: 80%; height: 150px; background: #fff; border-bottom: 1px solid #000; border-top: 1px solid #000; display:none;}
.nav-total .nav-sub ul {float: left; width: 25%; height: 150px; padding-top: 18px;}
.nav-sub li {width: 100%; float:left;}
.nav-sub a {display: inline-block;  width: 100%; padding: 5px 0; text-align: center; color: #555; letter-spacing: -0.5pt;
    font-weight: 700; font-size: 14px; line-height: 19px;}	
         	               			
/* 게시판1 */
.board-header { margin: 0; display: block; width: auto; height: 100px; line-height: 100px; border-bottom: 1px solid #000000;}
.board-header h2 {text-align: left; font-size: 30px;}
.board-body {padding: 40px 20px 20px;}
.board-body table {width: 100%; border-collapse: collapse;}
.board-body tr th {background: #eaeaea; font-size: 17px; font-weight: 600; color: #000;
    padding: 20px 0; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7;
    text-align: center;}
.board-body tr td {padding: 12px 0; border-bottom: 1px solid #b7b7b7; text-align: center; font-size: 15px;}    	
.board-body tr td a:hover {color: #6E6E6E;}
/* 게시판 페이징 */
.paging1 {position: relative;}
.paging {text-align: center; margin: 20px 0 15px 0; font-size: 13px;}

/* 게시판 글 작정 */
.write-body { margin-left: 0; padding: 40px 20px 20px;}
.write-body .w-write {padding-right: 0;}
.write form {width: 100%;}
.w-title {text-align: left; padding: 5px 0;}
.w-title input { width: 100%; height: 40px; line-height: 32px;}
.w-insert {margin-top: 30px;}
.w-insert textarea {width: 100%; height: 290px; font-size: 20px;}

/* 게시판 글 보기 */
.read-body { margin-left: 0; padding: 40px 20px 20px;}
.read {padding-right: 0;}
.r-header {overflow: hidden; background: #eaeaea; color: #000; font-size: 14px;
    	   font-weight: 600; padding: 15px 0; border-top: 1px solid #b7b7b7;
    	   border-bottom: 1px solid #b7b7b7;}
.r-header p.r-title {float: left; padding-left: 40px; font-size: 17px;
    			   margin: 10px 0 0;}
.r-header p.r-info {float: right; width: 150px; padding-right: 20px;
    				color: #777; text-align: center;}	
.r-body {position: relative; padding: 24px 42px 40px 42px; min-height: 360px;
    	 border-bottom: 1px solid #b7b7b7;}
.r-body .r-content {margin-bottom: 30px; width: 100%; line-height: 1.7em;
    				word-break: break-all; overflow: hidden;}	

/* 페이징  */
.paging { text-align: center; margin: 20px 0 15px 0; font-size: 17px;}
.pagination li { display: inline-block; padding: 5px;}
.pagination li a:hover {color: #3d449c;}
/* 공통 버튼 */
/* 목록용 버튼 */ 
.btn-box01 { position: absolute; top: 0; right: 0; text-align: right;}
.btn-box01 .btn01 {width: 65px; height: 28px; line-height: 28px; font-size: 15px; display: inline-block;
    			 background: #494e56; color: #fff !important; text-align: center; vertical-align: middle;}
/* 작성용 버튼 */
.btn-box02 {text-align: right; margin:30px 0;}
.btn-box02 .btn01 {width: 65px; height: 28px; line-height: 28px; font-size: 15px; display: inline-block;
    			 background: #7b828e; color: #fff !important; text-align: center; vertical-align: middle;}
.btn-box02 button { width: 65px; height: 28px; line-height: 28px; font-size: 15px; background: #494e56; color: #fff !important;}

/* 보기용 버튼 */
button .btn-modify {width: 65px; height: 28px; line-height: 28px; font-size: 15px; background: #494e56; color: #fff !important;}
button .btn-delete {width: 65px; height: 28px; line-height: 28px; font-size: 15px; background: #494e56; color: #fff !important;}
















	  